.bookShelf{
    .sidebar{
        a{
            &.active{
                color: $primary-color;
            }
        }
        .sidebar_item{
            &.active,&:hover{
                background-color: $primary-color;
                svg,path{
                    color: #fff !important;
                    fill: #fff !important;
                }
                span{
                    color: #fff !important;
                }
            }
        }
        
    }
    .form__search{
        input{
            border-radius: 8px;
            height: 52px;
            width: 700px;
            @media(max-width: 767px){
                width: 300px;
            }
        }
    }
    &.bookshelf__search{
        .col-md-3,.col-md-9{
            padding: 0 !important;
        }
    }
}