footer {
    background-color: $primary-color !important;
    *{
        color: #fff !important;
    }
    .footer_links {
        h2 {
            &:after {
                position: absolute;
                content: "";
                background-color: $primary-color;
                height: 3px;
                width: 52px;
                border-radius: 30px;
                top: 35px;
                right: 0;
            }
        }
        a{
            svg,path{
                color: #fff !important;
                fill: #fff !important;
            }
        }
    }
}
.copyRight {
    background: #fff !important;
    *{
        color: $primary-color !important
    };
}