header {
    @media(max-width: 1024px){
        height: 100%;
        .header_info{
            margin-bottom: 35px;
        }
    }
    .carousel-item{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            background-color: rgba(0, 0, 0, 0.3);
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
        }
    }
    .header_img,.header_info{
        position: relative;
        z-index: 99;
    }
}
.animate-move-hor {
    animation: move-hor 3s linear 0s infinite alternate;
}
.animate-spin-slow {
    animation: spin-slow 6s linear 0s infinite alternate;
}
@keyframes move-hor {

    0% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0px);
    }
}
@keyframes spin-slow {

    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}