@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import '../themes/_color.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Tajawal', sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 0px;
    height: 4px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    scroll-behavior: auto !important;
    text-transform: capitalize;
    font-family: 'Tajawal', sans-serif;
}

* {
    text-transform: capitalize;
}

thead {
    font-weight: 600;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-switch .form-check-input {
    background-repeat: no-repeat !important;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input[type="checkbox"]:checked {
    background-color: $second-color;
    color: $second-color;
    border-color: $second-color;
}

.preloader {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $second-color;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999;
}

@keyframes spin-infinit {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

section {
    background-image: linear-gradient(90deg, #5851e11d, #efeefe3d);
}

.span_underline {
    &::after {
        content: "";
        position: absolute;
        top: 60px;
        width: 100%;
        background-color: #082CC8;
        right: 0;
        height: 8px;
        border-radius: 25px;
    }
}

.about_us_img {
    transition: 0.2s all ease-in-out;

    img {
        transition: 0.2s all ease-in-out;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.category__items {
    overflow-x: scroll;

    button {
        color: $white;
    }

    .mixitup-control-active {
        background-color: transparent !important;
        border: 1px solid $primary-color !important;
        color: $primary-color !important;
    }
}

.img-2 {
    left: 240px;
    bottom: 0;
    z-index: 3;
    position: absolute;
}

.reader_ai_item {
    transition: 0.5s ease-in-out all;

    &:hover {
        background-color: $primary-color;

        span,
        p {
            color: #fff !important;
        }

        path,
        svg {
            fill: #fff;
            color: #fff;
        }
    }
}

.animate-buble2 {
    animation: buble 3.25s linear .75s infinite;
}

@keyframes buble {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0.5);
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 1;
        border-width: 3px;
    }

    40% {
        opacity: 0.5;
        border-width: 2px;
    }

    65% {
        border-width: 1px;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
        border-width: 1px;
    }
}

.owl-nav {
    display: none;
}

section {
    &.popular_books {
        background-color: #fff !important;
        background-image: none !important;

        svg {
            width: 80px;

            @media(max-width: 580px) {
                width: 40px;
            }
        }
    }
}

.row-books {
    @media(max-width: 580px) {
        display: none !important;
    }
}

.carousal_books {
    display: none !important;

    @media(max-width: 580px) {
        display: block !important;
    }
}

.parteners_carousal,
.testimonilas_carousal {
    img {
        width: unset !important;
    }

    .owl-stage {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.faqs__ {
    .faq__items {
        .accordion-item {
            width: 100%;
            border: 0;
        }

        .accordion-header {
            border: 0;
            border-bottom: 0;
        }

        .accordion-button {
            background: #fff;
            border-bottom: 0;
            border: 0;
            border-radius: 6px 6px 0 0;

            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }

        .accordion-button::after {
            position: absolute;
            left: 20px;
        }

        .accordion-collapse {
            border: 0px;
            padding: 0;
            background: rgb(245, 245, 245);
        }

        .accordion-body {
            border-top: 0;
            border: 0;
            background-color: #fff;
        }
    }

    .collapse {
        visibility: visible !important;
    }
}

.form__search {
    input {
        border: 1px solid #ccc;
        border-radius: 6px 0 0 6px;
        height: 45px;
        width: 350px;
        padding: 8px 16px;
        background-color: #fff;

        @media(max-width: 767px) {
            width: 200px;
        }
    }

    select {
        border: 1px solid #ccc;
        border-radius: 0 6px 6px 0;
        height: 45px;
        width: 150px;
        padding: 8px 16px;
        background-color: #fff;
        box-shadow: none !important;
        direction: ltr;

        @media(max-width: 767px) {
            width: 90px;
        }
    }
}

.cart_lang_div {
    display: flex;

    @media(max-width: 767px) {
        display: none;
    }
}

.auth__layout {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    input {
        color: $third-color;
        font-size: 16px;
        font-weight: medium;

        &::placeholder {
            color: $third-color;
            font-size: 16px;
            font-weight: medium;
        }
    }
}

form.inc_dec {
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .value-button {
        display: inline-block;
        border: 1px solid #FF9501;
        margin: 0px;
        width: 40px;
        height: 40px;
        text-align: center;
        vertical-align: middle;
        padding: 7px 0;
        background: #FF9501;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .value-button:hover {
        cursor: pointer;
    }

    form #decrease {
        margin-right: -4px;
        border-radius: 8px 0 0 8px;
    }

    form #increase {
        margin-left: -4px;
        border-radius: 0 8px 8px 0;
    }

    form #input-wrap {
        margin: 0px;
        padding: 0px;
    }

    input#number {
        text-align: center;
        border: none;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin: 0px;
        width: 40px;
        height: 40px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.cart_page {
    table {

        td,
        tr,
        th {
            text-align: center;
        }
        td {
            span {
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.book-details{
    form.inc_dec {
        width: 300px;
        text-align: center;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    
        .value-button {
            display: inline-block;
            border: 1px solid #FF9501;
            margin: 0px;
            width: 40px;
            height: 40px;
            text-align: center;
            vertical-align: middle;
            padding: 7px 0;
            background: #FF9501;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #fff;
            font-size: 18px;
        }
    
        .value-button:hover {
            cursor: pointer;
        }
    
        form #decrease {
            margin-right: -4px;
            border-radius: 8px 0 0 8px;
        }
    
        form #increase {
            margin-left: -4px;
            border-radius: 0 8px 8px 0;
        }
    
        form #input-wrap {
            margin: 0px;
            padding: 0px;
        }
    
        input#number {
            text-align: center;
            border: none;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            margin: 0px;
            width: 120px;
            height: 40px;
        }
    
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.book_details_tabs{
    .nav.nav-pills{
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        li{
            button{
                color: $third-color;
            }
            button.active{
                position: relative;
                background-color: transparent;
                color: $primary-color;
                border: 0;
                font-weight: bold;
                &::after{
                    content: "";
                    position: absolute;
                    top: 49px;
                    right: 0;
                    background-color: $primary-color;
                    height: 3px;
                    width: 100%;
                }
            }
        }
    }
    .stars{
        img.active{
            filter: sepia(1) saturate(10000%) hue-rotate(251deg);
        }
    }
}

@media(max-width: 580px){
    .book_catg {
        top: 3px !important;
        span{
            padding-top: 3px !important;
            padding-bottom: 3px !important;
            font-size: 12px !important;
        }
    }
    .book_catg {
        top: 3px !important;
        span{
            padding-top: 7px !important;
            padding-bottom: 7px !important;
            font-size: 12px !important;
        }
        img{
            width: 20px;
            height: 20px;
        }
    }
}

.profile-dropdown .profile-toggle{
    background:transparent !important;
    position: relative;
}
.profile-dropdown  .profile-toggle .avatar{
    width: 40px;
    height:40px;
    border-radius:50%;
}
.profile-dropdown  .dropdown-menu{
    position: absolute;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-color: transparent;
    padding:10px 5px;
    left: 0 !important;
    right: auto !important;
}
.profile-dropdown .dropdown-menu:after,  .dropdown-menu:before {
    content: ' ';
    display: block;
    border-style: solid;
    border-width: 0 0.7em 0.8em 0.7em;
    border-color: transparent;
    position: absolute;
    left: 22%;
    margin-left: -0.7em;
    z-index: -1;
}
.profile-dropdown .dropdown-menu:after {
    top: -0.7em;
    border-bottom-color: #fff;
}
.profile-dropdown .dropdown-item{
    color: #999;
    transition: 0.5s all ease-in-out;
}
.profile-dropdown  button.dropdown-item {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    color: #999;
}
.profile-dropdown .dropdown-item:hover{
    background: transparent;
    color: #444;
}
.profile-dropdown .profile-toggle.dropdown-toggle:hover .dropdown-menu {
    display: block;
}

.profile-dropdown .dropdown-toggle::after{
    display: none;
}

.section__user__info{
    button{
        &.active{
            background-color: transparent !important;
            color: $primary-color !important;
            font-weight: 600;
            span{
                color: $primary-color;
                font-weight: 600;
            }
            svg,path{
                color: $primary-color;
                fill: $primary-color;
            }
        }
    }
}
.edit_profile{
    input{
        &::placeholder{
            font-size: 14px;
        }
    }
}
.file__zone {
    gap: 5px;
    position: relative;
    border: 1px solid #d0d5dd !important;
    border-radius: 8px !important;
    padding: 16px;
    background-color: #f7f9fb;
    input {
        width: 100%;
        height: 100% !important;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
    }

    span {
        color: #475467;
        font-size: 14px;
        font-weight: 400;

        span {
            color: #52911b;
            font-weight: 700;
        }
    }

    p {
        color: #475467;
        font-size: 12px;
        font-weight: 400;
    }
}

.profile__info{
    table {
        td {
            text-align: center;
            span {
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    #pills-reviews thead tr th,#pills-orders thead tr th {
        background: #F9F8FF;
    }
    #pills-reviews tr:nth-child(even),#pills-orders tr:nth-child(even) {
        background: #F9F8FF !important;
        td{
            background-color: transparent !important;
        }
    }
}
.stars{
    img.active{
        filter: sepia(1) saturate(10000%) hue-rotate(251deg);
    }
}

.fav__book svg.active,
.fav__book svg.active path,
.toggleButton svg.active,
.toggleButton svg.active path{
    color: #FF9501 !important;
    fill: #FF9501 !important;
}

@media(max-width: 580px){
    .book__item .product__info p{
            word-wrap: break-word;
            width: 200px !important;
            position: relative;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
    }
}
.section_contact form input, .section_contact form textarea {
    box-shadow: none;
    letter-spacing: 0;
    outline: none;
    line-height: 50px;
    height: 50px;
    padding: 0 20px;
    text-align: start;
    font-family: inherit;
    border-radius: 4px;
    font-weight: 400;
    border: 1px solid #e5e7f2;
    background: #f7f9fb;
    width: 100%;
    margin-bottom: 15px;
}
.section_contact form textarea{
    height: 150px;
}
.section_contact form button {
    background-color: $primary-color;
    color: #fff;
    padding: 10px 25px;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 991px) {
    .section_contact iframe {
        margin-top: 20px !important;
        width: 100% !important;
    }
}

.checkout__page{
    input{
        &::placeholder{
            font-size: 14px;
        }
    }
}
.categories__items{
    .accordion{
        border: 0 !important;
        padding: 0 !important;
        .accordion-item{
            border: 0 !important;
            padding: 0 !important;
        }
        .accordion-button{
            padding: 8px 0 !important;
            color: $third-color;
            background-color: transparent !important;
            box-shadow: none !important;
            &::after{
                margin-right: auto;
                margin-left: 0 !important;
            }
        }
        .collapse {
            visibility: visible !important;
        }
        .accordion-body {
            padding: 8px 0 !important;
        }
    }
    input[type=checkbox]:checked {
        background-color: $primary-color;
        color: $primary-color;
        border-color: $primary-color;
    }
    .accordion-button:focus {
        box-shadow:  none !important;
    }
    .form-check{
        margin-bottom: 8px;
        label{
            color: $fourth-color;
        }
    }
}
// @media(min-width: 1024px){
    header{
        height: calc(100vh - 110px);
        .carousel-inner,.carousel-item{
            height: calc(100vh - 110px)
        }
    }
    .auth__layout{
        height: calc(100vh - 110px)
    }
    .header_library{
        height: calc(100vh - 187px);
        .carousel-inner,.carousel-item{
            height: calc(100vh - 187px)
        }
    }
// }

#sidebar-nav {
    width: 160px;
    direction: rtl;
}
.book__item{
    background-color: #fff;
    img{
        object-fit: contain;
    }
    .product_add_to_cart{
        button{
            background-color: #FF9501 !important;
            color: #fff !important;
        }
    }
}

.university__item{
    transition: 0.5s ease-in-out all;
    margin-bottom: 16px;
    img{
        height: 250px;
        object-fit: contain;
    }
    &::after{
        content: "";
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 8px;
        opacity: 0;
    }
    &:hover{
        &::after{
            opacity: 1;
        }
        .university_info{
            z-index: 999;
            opacity: 1 !important;
            h2{
                color: #fff !important;
                font-size: 30px;
                font-weight: 600;
                text-align: center;
            }
        }
    }
}
.header_university{
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover;
    &::after{
        content: "";
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
}
.mouse-down {
    position: absolute;
    max-width: 100px;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    z-index: 9;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    transform: translateY(-50%);
    margin-top: 60px;
    @media(max-width: 767px){
      top: 100%;
    }
    .mouse {
      position: relative;
      border: 3px solid #fff;
      width: 25px;
      height: 40px;
      border-radius: 30px;
      margin: auto;
      .rat {
        position: absolute;
        width: 2px;
        height: 7px;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #fff;
        border-radius: 30px;
        animation: moveUpAnimation 1s linear infinite;
      }
  
      @keyframes moveUpAnimation {
        0% {
          transform: translate(0, 0);
        }
  
        25% {
          transform: translate(0, -5px);
        }
        50% {
          transform: translate(0, -10px);
        }
        75% {
          transform: translate(0, -5px);
        }
        100% {
          transform: translate(0, 0);
        }
      }
    }
  }

  .category__item{
      .category__img{
        &::after{
            content: "";
            position: absolute;
            background-color: rgba(0,0,0,0.5);
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-radius: 8px;
        }
    }
    h3{
        z-index: 999;
        color: #fff !important;
        font-size: 23px;
        text-align: center;
    }
  }

  .library_inside_nav{
    background-color: transparent !important;
  }
  .category__item{
    margin-bottom: 15px;
  }

  .library___{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #fe940099;
        width: 100%;
    }
    *{
        z-index: 999;
    }
    @media(max-width: 767px){
        height: 100% !important;
    }
  }